{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "../../"
        ],
        "alias": {
          "static/*": [
            "./public/static/*"
          ]
        }
      }
    ],
    "./transform-asset-cdn.cjs"
  ],
  "generatorOpts": {
    "retainLines": false
  }
}
