.page-container {
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: var(--container-pageClamp);
  box-sizing: content-box;
  @media (max-width: 719px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (max-width: 599px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
