/* APP FONTS --------------------------------------------- */
@font-face {
  font-family: Blanco OSF;
  src: url(https://assets.getpocket.com/web-ui/assets/BlancoOSFWeb-Regular.7d5a8216b7607638e81feb748552a702.woff2);
}
@font-face {
  font-family: Blanco OSF;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/BlancoOSFWeb-Bold.5597c92771d64715fcfc7af63ba976e9.woff2);
}
@font-face {
  font-family: Blanco OSF;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/BlancoOSFWeb-Italic.5e84440eca9d20d6c8311bd3bd6af473.woff2);
}
@font-face {
  font-family: Blanco OSF;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/BlancoOSFWeb-BoldItalic.45e2653f7bf12f75c2f9e8cef5e95e64.woff2);
}
@font-face {
  font-family: Doyle;
  font-weight: 400;
  src: url(https://assets.getpocket.com/web-ui/assets/Doyle-Regular.96ab1443bd74e896395776fc10e78857.woff2);
}
@font-face {
  font-family: Doyle;
  font-style: italic;
  font-weight: 400;
  src: url(https://assets.getpocket.com/web-ui/assets/Doyle-RegularItalic.e7af5c11daccb053aa0244f7a3e74ebf.woff2);
}
@font-face {
  font-family: Doyle;
  font-weight: 500;
  src: url(https://assets.getpocket.com/web-ui/assets/Doyle-Medium.eb6ee0eb205e8467cb3b0e61191217b2.woff2);
}
@font-face {
  font-family: Doyle;
  font-style: italic;
  font-weight: 500;
  src: url(https://assets.getpocket.com/web-ui/assets/Doyle-MediumItalic.10520e4820b03f63912a9b52ba5aae7a.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 100;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Thin-Web.f68162edaf17e6d6222ab9da5ee6a3ee.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 100;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-ThinItalic-Web.0d830398baa16b5b118e9c3a72544630.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 200;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Extralight-Web.3e7d8320e82a4ac557bffb30f49a7dd2.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 200;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-ExtralightItalic-Web.e2021e99b9b03e623fb707081f647e11.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 300;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Light-Web.4389379ad479dec8e9013bda556ef683.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 300;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-LightItalic-Web.65c8f8e7f2f448733fe4393d0967fa8b.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 400;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Regular-Web.e05a3b2ff4a3813954bcf8bdb83f9804.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 400;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-RegularItalic-Web.d12ea36eea34954d9fd7dee0ac29640c.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 500;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Medium-Web.c28abeb53c5265642e173cb1f81e8091.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 500;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-MediumItalic-Web.e983ce64531b413c98468b4d6c8a13da.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 600;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Semibold-Web.1e9ac78e3efd08db3b5db4380e3a1e6f.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 600;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-SemiboldItalic-Web.876e8402cf5eabe6b470184b3a9a99f9.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Bold-Web.f9055a490bbbea456422bc02fde65dbd.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-BoldItalic-Web.97ee2ed109056dd42d1c56779c9f17ad.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 800;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Black-Web.a525aba1cce162a75f23ba5232bafe71.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 800;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-BlackItalic-Web.e417d4a1935480005c401445a708b71c.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-weight: 900;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-Super-Web.f16672fba11f8f3c5422665538f11733.woff2);
}
@font-face {
  font-family: Graphik Web;
  font-style: italic;
  font-weight: 900;
  src: url(https://assets.getpocket.com/web-ui/assets/Graphik-SuperItalic-Web.bf26f31b291983c02f78313e9b32c394.woff2);
}
/* READER FONTS --------------------------------------------- */
@font-face {
  font-family: IdealSans;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-Book_Web.8ceb4de0789288847af513bd51c5818a.woff2);
}
@font-face {
  font-family: IdealSans;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-BookItalic_Web.e3cf9a006e02acd2311610854754c42b.woff2);
}
@font-face {
  font-family: IdealSans;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-Semibold_Web.b23b3824fab9ab4dc8006a6f24423b0f.woff2);
}
@font-face {
  font-family: IdealSans;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-SemiboldItalic_Web.c851e377c22a9cf75b8b20ab0a388038.woff2);
}
@font-face {
  font-family: Inter;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-Regular.bcdeb499f86c03ab9093fe49b5c795ae.woff2);
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-Italic.2b168e564b4ccdcac9e17b648d9f41b0.woff2);
}
@font-face {
  font-family: Inter;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-Bold.fe38e3f307fcbac1a801c0c38dff56ef.woff2);
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-BoldItalic.6d8374eb1ad9557adf0daf03048adcc9.woff2);
}
@font-face {
  font-family: Sentinel;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-Book_Web.2a0c49d105a76fdcf8843ae4912732d5.woff2);
}
@font-face {
  font-family: Sentinel;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-BookItalic_Web.9f137203ba87748d9f8a9239729b065a.woff2);
}
@font-face {
  font-family: Sentinel;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-Semibold_Web.f3cd3775fc8ca441f3694632cdce03da.woff2);
}
@font-face {
  font-family: Sentinel;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-SemiboldItalic_Web.434b7971453df9b22c5cdf4c60f994e2.woff2);
}
@font-face {
  font-family: Tiempos;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-Regular.bf6dfa623745f8f9be2c9306dd445f99.woff2);
}
@font-face {
  font-family: Tiempos;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-RegularItalic.c7b3f3d417c54b9cf7eb7026b9eff8af.woff2);
}
@font-face {
  font-family: Tiempos;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-Semibold.7e0dadfec14fed4ca5dd26b8ff3b7265.woff2);
}
@font-face {
  font-family: Tiempos;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-SemiboldItalic.694d22d08e25711bb9f3ceb9b78f1e7f.woff2);
}
@font-face {
  font-family: Whitney;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-Book_Web.98aad5d22b5244dd121c379f3cea2230.woff2);
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-BookItal_Web.80efdde5b097eda872e1754487ce68fc.woff2);
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-Semibld_Web.de2dee03c81082edf5341031656ea505.woff2);
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-SemibldItal_Web.fdd7d75fa8fa59d56cc3c402c5bccb55.woff2);
}
