/* READER FONTS --------------------------------------------- */
@font-face {
  font-family: IdealSans;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-Book_Web.8ceb4de0789288847af513bd51c5818a.woff2);
}
@font-face {
  font-family: IdealSans;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-BookItalic_Web.e3cf9a006e02acd2311610854754c42b.woff2);
}
@font-face {
  font-family: IdealSans;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-Semibold_Web.b23b3824fab9ab4dc8006a6f24423b0f.woff2);
}
@font-face {
  font-family: IdealSans;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/IdealSansSSm-SemiboldItalic_Web.c851e377c22a9cf75b8b20ab0a388038.woff2);
}
@font-face {
  font-family: Inter;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-Regular.bcdeb499f86c03ab9093fe49b5c795ae.woff2);
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-Italic.2b168e564b4ccdcac9e17b648d9f41b0.woff2);
}
@font-face {
  font-family: Inter;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-Bold.fe38e3f307fcbac1a801c0c38dff56ef.woff2);
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Inter-BoldItalic.6d8374eb1ad9557adf0daf03048adcc9.woff2);
}
@font-face {
  font-family: Sentinel;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-Book_Web.2a0c49d105a76fdcf8843ae4912732d5.woff2);
}
@font-face {
  font-family: Sentinel;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-BookItalic_Web.9f137203ba87748d9f8a9239729b065a.woff2);
}
@font-face {
  font-family: Sentinel;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-Semibold_Web.f3cd3775fc8ca441f3694632cdce03da.woff2);
}
@font-face {
  font-family: Sentinel;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Sentinel-SemiboldItalic_Web.434b7971453df9b22c5cdf4c60f994e2.woff2);
}
@font-face {
  font-family: Tiempos;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-Regular.bf6dfa623745f8f9be2c9306dd445f99.woff2);
}
@font-face {
  font-family: Tiempos;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-RegularItalic.c7b3f3d417c54b9cf7eb7026b9eff8af.woff2);
}
@font-face {
  font-family: Tiempos;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-Semibold.7e0dadfec14fed4ca5dd26b8ff3b7265.woff2);
}
@font-face {
  font-family: Tiempos;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/TiemposTextWeb-SemiboldItalic.694d22d08e25711bb9f3ceb9b78f1e7f.woff2);
}
@font-face {
  font-family: Whitney;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-Book_Web.98aad5d22b5244dd121c379f3cea2230.woff2);
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-BookItal_Web.80efdde5b097eda872e1754487ce68fc.woff2);
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-Semibld_Web.de2dee03c81082edf5341031656ea505.woff2);
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 700;
  src: url(https://assets.getpocket.com/web-ui/assets/Whitney-SemibldItal_Web.fdd7d75fa8fa59d56cc3c402c5bccb55.woff2);
}
