/* STYLE VARIABLES  --------------------------------------------- */
.colormode-light {
  --card-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --card-shadow-hover: 0 0 18px rgba(0, 0, 0, 0.25);
}
.colormode-sepia {
  --card-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --card-shadow-hover: 0 0 18px rgba(0, 0, 0, 0.25);
}
.colormode-dark {
  --card-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  --card-shadow-hover: 0 0 18px rgba(0, 0, 0, 0.6);
}
