{
  "parser": "@babel/eslint-parser",
  "ignorePatterns": [
    "*.stories.js",
    "*.spec.js"
  ],
  "extends": [
    "prettier",
    "plugin:cypress/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "React": false,
    "snowplow": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unneeded-ternary": "warn",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "src/**/*.stories.js"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "env": {
    "mocha": true
  }
}
