{
  "extends": "next/core-web-vitals",
  "ignorePatterns": [
    "*.stories.js",
    "*.spec.js"
  ],
  "globals": {
    "snowplow": true
  },
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/no-deprecated": "off",
    "@next/next/no-sync-scripts": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
