### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
junit.xml

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional linaria cache
.linaria-cache

# Optional linaria cache
.next

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Storybook
.cache
storybook-static
*storybook.log

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE settings
.vscode/
.idea

# Local .env
.env

# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Test artifacts
# copied over during the build step.
cypress/videos
cypress/screenshots
cypress/mochawesome

# Sensitive artifact files
.scripts/localization/config.json
.scripts/qa/config.json

# Icon files — We build these from raw svgs (in case they need adjustment)
.asset-cache
src/components/icons

# Styles - Some styles are generated ... we don't want to commit those
ui/styles/fonts.pcss
ui/styles/fonts-reader.pcss
ui/styles/global-variables.pcss

# We don't want to commit built icons files
ui/icons/dist/

# We don't want to commit built document files either
clients/web/public/static/docs/legal

# TS Terraform build 
.terraform/
node_modules/
cdktf.out/
.gen/
infrastructure/**/dist/

# Certificates 
localhost.web-client.getpocket.com-key.pem
localhost.web-client.getpocket.com.pem

# Typescript
next-env.d.ts
schema.graphql

# turbo
.turbo