/** Remove this file if we don't have styles for the component **/
.base {
  margin-top: 4rem;
}

.container {
  padding: 2rem 0 4rem;
}

.copy {
  h2 {
    text-align: center;
  }
  p {
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
  }
}

.animation {
  max-width: 300px;
}
