.base {
  background-color: var(--color-canvas);
  border-bottom: 1px solid var(--nav-border);
  box-shadow: var(--nav-shadow);
  align-items: center;
  position: sticky;
  margin-bottom: 3rem;
  top: 0;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 130px minmax(0, 1fr) auto;
  column-gap: 1.5rem;
  align-items: center;
  height: var(--container-topNavHeight);
  @media (max-width: 599px) {
    grid-template-columns: 30px minmax(0, 1fr) auto;
  }
}
