.iconGrid {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  justify-content: space-between;
  justify-items: center;
  margin: 0 0 2em 0;
}

.iconBlock {
  display: flex;
  width: 100%;
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-actionPrimarySubdued);
  }
  svg {
    margin-right: 8px;
  }
}

.colorGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.colorBlock {
  margin: 0 0 8px;
  padding: 8px;
  display: grid;
  grid-template-columns: 32px auto;
  column-gap: 16px;
  & > div {
    border-radius: 8px;
    width: 32px;
    height: 32px;
  }
}

.buttonContainer {
  font-family: var(--fontSansSerif);
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 0.5rem;
  }
}
.buttonList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-dividerTertiary);
}

.inputContainer {
  & > div {
    margin-bottom: 1rem;
  }
}
