.container {
  padding: 1rem;
  border-bottom: 1px solid var(--color-divider);
}

.title {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin: 0 0 0.5rem;
}
.triggers {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
  padding: 0;
}
