.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 0 0 0.5rem;
}
.triggers {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  row-gap: 0.5rem;
  padding: 0;
}
