body {
  margin: 0;
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;

  background-color: var(--color-surface-base);
  color: var(--color-text-base);
}

.page-container {
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: var(--container-clamp);
  box-sizing: content-box;
  @media (max-width: 719px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (max-width: 599px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
