:root {
  /* Fonts */
  --font-serif: 'Blanco OSF', Garamond, Times, Serif;
  --font-serif-alt: 'Doyle', Garamond, Times, Serif;
  --font-sans-serif: 'Graphik Web', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

  /* Containers */
  --container-clamp: 1128px;

  /* Radius */
  --radius-button: 1000rem;
  --radius-input: 1000rem;
  --radius-textarea: 0.5rem;

  --selectDownArrowLight: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%22292.4%22%20height=%22292.4%22%3E%3Cpath%20fill=%22%23000000%22%20d=%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22/%3E%3C/svg%3E');
  --selectDownArrowDark: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%22292.4%22%20height=%22292.4%22%3E%3Cpath%20fill=%22%23FFFFFF%22%20d=%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22/%3E%3C/svg%3E');
  --checkboxCheckMarkLight: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width=%2216%22%20height=%2213%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M4.635%2012.175L1.095%209.21a1.5%201.5%200%20011.927-2.3l2.49%202.087%207.45-7.962a1.5%201.5%200%20012.191%202.05l-8.391%208.968a1.5%201.5%200%2001-2.126.123z%22%20fill=%22%23FFFFFF%22/%3E%3C/svg%3E');
  --checkboxCheckMarkColor: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width=%2216%22%20height=%2213%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M4.635%2012.175L1.095%209.21a1.5%201.5%200%20011.927-2.3l2.49%202.087%207.45-7.962a1.5%201.5%200%20012.191%202.05l-8.391%208.968a1.5%201.5%200%2001-2.126.123z%22%20fill=%22%23008078%22/%3E%3C/svg%3E');
  --checkboxCheckMarkHover: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width=%2216%22%20height=%2213%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M4.635%2012.175L1.095%209.21a1.5%201.5%200%20011.927-2.3l2.49%202.087%207.45-7.962a1.5%201.5%200%20012.191%202.05l-8.391%208.968a1.5%201.5%200%2001-2.126.123z%22%20fill=%22%23004D48%22/%3E%3C/svg%3E');
  --crossIconColor: url('data:image/svg+xml;charset=US-ASCII,%20%3Csvg%20width=%2212%22%20height=%2212%22%20viewBox=%220%200%2012%2012%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M2.36369%200.405544C1.82296%20-0.135181%200.94627%20-0.135181%200.405544%200.405544C-0.135181%200.94627%20-0.135181%201.82296%200.405544%202.36369L4.04186%206L0.405544%209.63631C-0.135181%2010.177%20-0.135181%2011.0537%200.405544%2011.5945C0.946271%2012.1352%201.82296%2012.1352%202.36369%2011.5945L6%207.95814L9.63631%2011.5945C10.177%2012.1352%2011.0537%2012.1352%2011.5945%2011.5945C12.1352%2011.0537%2012.1352%2010.177%2011.5945%209.63631L7.95814%206L11.5945%202.36369C12.1352%201.82296%2012.1352%200.94627%2011.5945%200.405544C11.0537%20-0.135181%2010.177%20-0.135181%209.63631%200.405544L6%204.04186L2.36369%200.405544Z%22%20fill=%22%23737373%22/%3E%3C/svg%3E');
  --crossIconHover: url('data:image/svg+xml;charset=US-ASCII,%20%3Csvg%20width=%2212%22%20height=%2212%22%20viewBox=%220%200%2012%2012%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d=%22M2.36369%200.405544C1.82296%20-0.135181%200.94627%20-0.135181%200.405544%200.405544C-0.135181%200.94627%20-0.135181%201.82296%200.405544%202.36369L4.04186%206L0.405544%209.63631C-0.135181%2010.177%20-0.135181%2011.0537%200.405544%2011.5945C0.946271%2012.1352%201.82296%2012.1352%202.36369%2011.5945L6%207.95814L9.63631%2011.5945C10.177%2012.1352%2011.0537%2012.1352%2011.5945%2011.5945C12.1352%2011.0537%2012.1352%2010.177%2011.5945%209.63631L7.95814%206L11.5945%202.36369C12.1352%201.82296%2012.1352%200.94627%2011.5945%200.405544C11.0537%20-0.135181%2010.177%20-0.135181%209.63631%200.405544L6%204.04186L2.36369%200.405544Z%22%20fill=%22%23404040%22/%3E%3C/svg%3E');

  --color-black100: hsl(0, 0%, 0%);
  --color-black95: hsl(0, 0%, 5%);
  --color-black90: hsl(0, 0%, 10%);

  --color-grey10: #1a1a1a;
  --color-grey20: #333;
  --color-grey25: #404040;
  --color-grey30: #4d4d4d;
  --color-grey35: #595959;
  --color-grey40: #666;
  --color-grey45: #737373;
  --color-grey55: #8c8c8c;
  --color-grey65: #a6a6a6;
  --color-grey80: #ccc;
  --color-grey85: #d9d9d9;

  --color-white95: #eee;
  --color-white97: #f7f7f7;
  --color-white100: #fff;

  --color-sepia10: #191917;
  --color-sepia20: #33312e;
  --color-sepia25: #403e3a;
  --color-sepia40: #66635c;
  --color-sepia45: #736f68;
  --color-sepia55: #8c877e;
  --color-sepia65: #a6a095;
  --color-sepia80: #ccc5b8;
  --color-sepia90: #e5decf;
  --color-sepia96: #f5eddd;
  --color-sepia100: #fff7e6;
  --color-cream100: #fffcf7;

  --color-teal25: #00403c;
  --color-teal30: #004d48;
  --color-teal45: #00736c;
  --color-teal50: #008078;
  --color-teal60: #009990;
  --color-teal65: #00a69c;
  --color-teal70: #00b2a8;
  --color-teal75: #00bfb4;
  --color-teal80: #00ccc0;
  --color-teal85: #00d9cc;
  --color-teal100: #e8f7f6;

  --color-coralDark: #901424;
  --color-coral: #ef4056;
  --color-teal: #009990;
  --color-mint: #00cb77;
  --color-apricot: #f67d6d;
  --color-lapis: #3668ff;
  --color-iris: #c4a5f7;

  /* Brand */
  --color-brand-pocket: var(--color-coral);
  --color-brand-facebook: #3b5998;
  --color-brand-twitter: #00aced;
  --color-brand-reddit: #ff4500;
  --color-brand-linkedin: #007bb6;
  --color-brand-mastodon: #563acc;

  /** COLORS — LIGHT ----------------------------------------------------- **/

  /* Surfaces */
  --color-surface-lower: var(--color-grey85);
  --color-surface-base: var(--color-white100);
  --color-surface-lift: var(--color-white97);
  --color-surface-raise: var(--color-white95);

  --color-surface-transparent-50: rgba(255, 255, 255, 0.5);

  /* Dividers */
  --color-edge: transprent;
  --color-divider: var(--color-grey85);
  --color-border: var(--color-grey25);

  /* Shadows */
  --shadow-card: 0px 2px 25px -3px rgba(0, 0, 0, 0.1), 0px 7px 7px -5px rgba(0, 0, 0, 0.1);
  --shadow-color: 0deg 0% 67%;
  --shadow-low: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    0.4px 0.8px 1.3px hsl(var(--shadow-color) / 0.11),
    0.8px 1.5px 2.6px hsl(var(--shadow-color) / 0.22);
  --shadow-medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1px 1.9px 3.2px hsl(var(--shadow-color) / 0.09),
    1.9px 3.7px 6.2px hsl(var(--shadow-color) / 0.18),
    3.8px 7.5px 12.6px hsl(var(--shadow-color) / 0.26);
  --shadow-high: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1.6px 3.2px 5.4px hsl(var(--shadow-color) / 0.05),
    2.7px 5.5px 9.2px hsl(var(--shadow-color) / 0.11),
    4.1px 8.2px 13.8px hsl(var(--shadow-color) / 0.16),
    5.9px 11.8px 19.8px hsl(var(--shadow-color) / 0.21),
    8.6px 17.2px 28.8px hsl(var(--shadow-color) / 0.27),
    12.5px 25px 41.9px hsl(var(--shadow-color) / 0.32);

  /* Typography */
  --color-text-lighter: var(--color-grey35);
  --color-text-base: var(--color-grey10);
  --color-text-darker: var(--color-grey05);

  /* Accents */
  --color-accent-darker: var(--color-teal60);
  --color-accent-base: var(--color-teal65);
  --color-accent-lighter: var(--color-teal70);

  /* Brand */
  --color-brand: #ef4056;
  --color-brand-darker: #901424;

  /* Inputs */
  --color-border-input: var(--color-black95);
  --color-border-input-hover: var(--color-accent-base);
  --color-border-input-focus: var(--color-grey10);
  --color-border-input-checked: var(--color-grey40);

  --color-toggle-base: var(--color-grey85);
  --color-toggle-base-hover: var(--color-grey80);
  --color-toggle-base-active: var(--color-teal65);
  --color-toggle-knob-hover: var(--color-grey65);
  --color-toggle-knob-hover-active: var(--color-teal50);

  --color-button-primary-text: var(--color-white100);
  --color-button-primary-background: var(--color-teal50);
  --color-button-primary-border: var(--color-teal50);
  --color-button-primary-background-hover: var(--color-teal30);
  --color-button-primary-border-hover: var(--color-teal30);

  --color-button-outline-text-hover: var(--color-grey20);
  --color-button-outline-border-hover: var(--color-grey20);

  --color-button-secondary-text: var(--color-text-base);
  --color-button-secondary-background: var(--color-surface-base);
  --color-button-secondary-border: var(--color-grey65);
  --color-button-secondary-border-hover: #4d4d4d15;
  --color-button-secondary-background-hover: #4d4d4d15;

  --color-button-brand-text: var(--color-white100);
  --color-button-brand: var(--color-brand);
  --color-button-brand-text-hover: var(--color-white100);
  --color-button-brand-hover: var(--color-brand-darker);

  --color-button-save-text-hover: var(--color-white100);
  --color-button-save-background-hover: var(--color-brand);
  --color-button-save-border-hover: var(--color-brand);

  --color-menu-hover-text: var(--color-black100);
  --color-menu-background-hover: var(--color-teal100);
  --color-menu-border: var(--color-grey85);

  --color-typeahead-input-border: var(--color-grey65);
  --color-typeahead-input-background: #4d4d4d15;
  --color-typeahead-input-border-focus: #4d4d4d15;

  --color-pagination-text: var(--color-teal65);
  --color-pagination-text-hover: var(--color-teal65);
  --color-pagination-text-active: var(--color-teal65);
  --color-pagination-border-hover: var(--color-teal65);
  --color-pagination-background-active: var(--color-teal100);
  --color-pagination-background-hover: var(--color-teal100);

  --color-button-group-text: var(--color-text-base);
  --color-button-group-border: var(--color-grey80);
  --color-button-group-background: var(--color-white100);
  --color-button-group-background-hover: var(--color-white95);
  --color-button-group-border-hover: var(--color-grey80);
  --color-button-group-background-active: var(--color-white95);
}

.colormode-system {
  @media (prefers-color-scheme: dark) {
    /* Surfaces */
    --color-surface-lower: var(--color-grey85);
    --color-surface-base: var(--color-grey10);
    --color-surface-lift: var(--color-grey20);
    --color-surface-raise: var(--color-grey25);

    /* Dividers */
    --color-edge: var(--color-black100);
    --color-divider: var(--color-black100);
    --color-border: var(--color-black100);

    /* Shadows */
    --shadow-card: 0px 2px 25px -3px rgba(0, 0, 0, 0.5), 0px 7px 7px -5px rgba(0, 0, 0, 0.7);
    --shadow-color: 0deg 0% 3%;
    --shadow-low: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
      0.4px 0.8px 1.3px hsl(var(--shadow-color) / 0.11),
      0.8px 1.5px 2.6px hsl(var(--shadow-color) / 0.22);
    --shadow-medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
      1px 1.9px 3.2px hsl(var(--shadow-color) / 0.09),
      1.9px 3.7px 6.2px hsl(var(--shadow-color) / 0.18),
      3.8px 7.5px 12.6px hsl(var(--shadow-color) / 0.26);
    --shadow-high: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
      1.6px 3.2px 5.4px hsl(var(--shadow-color) / 0.05),
      2.7px 5.5px 9.2px hsl(var(--shadow-color) / 0.11),
      4.1px 8.2px 13.8px hsl(var(--shadow-color) / 0.16),
      5.9px 11.8px 19.8px hsl(var(--shadow-color) / 0.21),
      8.6px 17.2px 28.8px hsl(var(--shadow-color) / 0.27),
      12.5px 25px 41.9px hsl(var(--shadow-color) / 0.32);

    /* Typography */
    --color-text-darker: var(--color-grey85);
    --color-text-base: var(--color-white95);
    --color-text-lighter: var(--color-white100);

    /* Accents */
    --color-accent-darker: var(--color-teal60);
    --color-accent-base: var(--color-teal65);
    --color-accent-lighter: var(--color-teal70);

    /* Brand */
    --color-brand: #ef4056;
    --color-brand-darker: #901424;

    /* Inputs */
    --color-border-input: var(--color-grey40);
    --color-border-input-hover: var(--color-grey55);
    --color-border-input-focus: var(--color-grey55);
    --color-border-input-checked: var(--color-grey40);

    --color-toggle-base: var(--color-grey20);
    --color-toggle-base-hover: var(--color-grey30);
    --color-toggle-base-active: var(--color-teal65);
    --color-toggle-knob-hover: var(--color-grey30);
    --color-toggle-knob-hover-active: var(--color-teal50);

    --color-button-primary-text: var(--color-white100);
    --color-button-primary-background: var(--color-teal50);
    --color-button-primary-border: var(--color-teal50);
    --color-button-primary-background-hover: var(--color-teal30);
    --color-button-primary-border-hover: var(--color-teal30);

    --color-button-outline-text-hover: var(--color-white100);
    --color-button-outline-border-hover: var(--color-white100);

    --color-button-secondary-text: var(--color-text-base);
    --color-button-secondary-border: var(--color-grey40);
    --color-button-secondary-text-hover: var(--color-white100);
    --color-button-secondary-border-hover: #4d4d4d65;
    --color-button-secondary-background-hover: #4d4d4d65;

    --color-button-brand-text: var(--color-white100);
    --color-button-brand: var(--color-brand);
    --color-button-brand-text-hover: var(--color-white100);
    --color-button-brand-hover: var(--color-brand-darker);

    --color-pagination-text: var(--color-teal65);
    --color-pagination-text-hover: var(--color-teal65);
    --color-pagination-text-active: var(--color-teal65);
    --color-pagination-border-hover: var(--color-teal65);
    --color-pagination-background-active: #4d4d4d65;
    --color-pagination-background-hover: #4d4d4d65;

    --color-menu-hover-text: var(--color-white100);
    --color-menu-background-hover: var(--color-teal65);
    --color-menu-border: var(--color-black95);

    --color-typeahead-input-border: var(--color-black95);

    --color-button-group-text: var(--color-white100);
    --color-button-group-border: var(--color-grey40);
    --color-button-group-background: var(--color-grey10);
    --color-button-group-background-hover: var(--color-grey20);
    --color-button-group-border-hover: var(--color-grey40);

    --color-button-group-text-active: var(--color-white100);
    --color-button-group-background-active: var(--color-grey20);
    --color-button-group-border-active: var(--color-teal65);
  }
}

/** COLORS — DARK ----------------------------------------------------- **/
.colormode-dark {
  /* Surfaces */
  --color-surface-lower: var(--color-grey85);
  --color-surface-base: var(--color-grey10);
  --color-surface-lift: var(--color-grey20);
  --color-surface-raise: var(--color-grey25);

  /* Dividers */
  --color-edge: var(--color-black100);
  --color-divider: var(--color-black100);
  --color-border: var(--color-black100);

  /* Shadows */
  --shadow-card: 0px 2px 25px -3px rgba(0, 0, 0, 0.5), 0px 7px 7px -5px rgba(0, 0, 0, 0.7);
  --shadow-color: 0deg 0% 3%;
  --shadow-low: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    0.4px 0.8px 1.3px hsl(var(--shadow-color) / 0.11),
    0.8px 1.5px 2.6px hsl(var(--shadow-color) / 0.22);
  --shadow-medium: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1px 1.9px 3.2px hsl(var(--shadow-color) / 0.09),
    1.9px 3.7px 6.2px hsl(var(--shadow-color) / 0.18),
    3.8px 7.5px 12.6px hsl(var(--shadow-color) / 0.26);
  --shadow-high: 0.3px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1.6px 3.2px 5.4px hsl(var(--shadow-color) / 0.05),
    2.7px 5.5px 9.2px hsl(var(--shadow-color) / 0.11),
    4.1px 8.2px 13.8px hsl(var(--shadow-color) / 0.16),
    5.9px 11.8px 19.8px hsl(var(--shadow-color) / 0.21),
    8.6px 17.2px 28.8px hsl(var(--shadow-color) / 0.27),
    12.5px 25px 41.9px hsl(var(--shadow-color) / 0.32);

  /* Typography */
  --color-text-darker: var(--color-grey85);
  --color-text-base: var(--color-white95);
  --color-text-lighter: var(--color-white100);

  /* Accents */
  --color-accent-darker: var(--color-teal60);
  --color-accent-base: var(--color-teal65);
  --color-accent-lighter: var(--color-teal70);

  /* Brand */
  --color-brand: #ef4056;
  --color-brand-darker: #901424;

  /* Inputs */
  --color-border-input: var(--color-grey40);
  --color-border-input-hover: var(--color-grey55);
  --color-border-input-focus: var(--color-grey55);
  --color-border-input-checked: var(--color-grey40);

  --color-toggle-base: var(--color-grey20);
  --color-toggle-base-hover: var(--color-grey30);
  --color-toggle-base-active: var(--color-teal65);
  --color-toggle-knob-hover: var(--color-grey30);
  --color-toggle-knob-hover-active: var(--color-teal50);

  --color-button-primary-text: var(--color-white100);
  --color-button-primary-background: var(--color-teal50);
  --color-button-primary-border: var(--color-teal50);
  --color-button-primary-background-hover: var(--color-teal30);
  --color-button-primary-border-hover: var(--color-teal30);

  --color-button-outline-text-hover: var(--color-white100);
  --color-button-outline-border-hover: var(--color-white100);

  --color-button-secondary-text: var(--color-text-base);
  --color-button-secondary-border: var(--color-grey40);
  --color-button-secondary-text-hover: var(--color-white100);
  --color-button-secondary-border-hover: #4d4d4d65;
  --color-button-secondary-background-hover: #4d4d4d65;

  --color-button-brand-text: var(--color-white100);
  --color-button-brand: var(--color-brand);
  --color-button-brand-text-hover: var(--color-white100);
  --color-button-brand-hover: var(--color-brand-darker);

  --color-pagination-text: var(--color-teal65);
  --color-pagination-text-hover: var(--color-teal65);
  --color-pagination-text-active: var(--color-teal65);
  --color-pagination-border-hover: var(--color-teal65);
  --color-pagination-background-active: #4d4d4d65;
  --color-pagination-background-hover: #4d4d4d65;

  --color-menu-hover-text: var(--color-white100);
  --color-menu-background-hover: var(--color-teal65);
  --color-menu-border: var(--color-black95);

  --color-button-group-text: var(--color-white100);
  --color-button-group-border: var(--color-grey40);
  --color-button-group-background: var(--color-grey10);
  --color-button-group-background-hover: var(--color-grey20);
  --color-button-group-border-hover: var(--color-grey40);

  --color-button-group-text-active: var(--color-white100);
  --color-button-group-background-active: var(--color-grey20);
  --color-button-group-border-active: var(--color-teal65);
}
